// Add custom font-faces here:
@use "../fonts/inter.scss";

html {
  // Responsive typography
  // Source: https://www.smashingmagazine.com/2016/05/fluid-typography/
  // font-size: calc(14px + (24 - 14) * (100vw - 320px) / (8192 - 320));

  font-size: calc(12px + (24 - 12) * (100vw - 400px) / (800 - 400));

  @screen sm {
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (4096 - 400));
  }
}

body {
  font-family: "Inter";
  @apply text-theme-gray-extra-dark;

  h1 {
    @apply text-2xl;
    @apply mt-4;
    @apply mb-2;
  }

  h2 {
    @apply text-xl;
    @apply mt-4;
    @apply mb-2;
  }

  h3 {
    @apply text-lg;
  }

  h3 {
    @apply font-bold;
  }

  p {
    @apply mb-4;
    @apply text-base;
  }

  textarea {
    max-width: 100%;
  }
}

.headline,
.headline-xl {
  @apply font-normal;
}

.headline-xl {
  @apply text-5xl;
}

.headline {
  @apply text-4xl;
}

.caption {
  @apply text-sm;
}
