@font-face {
  font-family: "icomoon";
  src: url("~@/assets/fonts/IcoMoon/icomoon.eot?cljda2");
  src: url("~@/assets/fonts/IcoMoon/icomoon.eot?cljda2#iefix")
      format("embedded-opentype"),
    url("~@/assets/fonts/IcoMoon/icomoon.ttf?cljda2") format("truetype"),
    url("~@/assets/fonts/IcoMoon/icomoon.woff?cljda2") format("woff"),
    url("~@/assets/fonts/IcoMoon/icomoon.svg?cljda2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mic:before {
  content: "\e91e";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
